.lishi-header{
	display: flex;
	width: 750px;
}
.lishi-fanhui{
	flex: 1;
	font-size: 36px;
	padding: 24px 0 0 25px;
}
.lishi-tab{
	flex: 3;
	display: flex;
	margin-top: 4px;
}
.lishi-tab li{
	flex: 1;
	text-align: center;
	padding: 30px 0;
	border-radius: 8px;
	border: 3px solid #199ed8;
	font-size: 30px;
	color: #199ed8;
}

.lishi-reduce{
	flex: 1;
	font-size: 40px;
	padding: 24px 35px 0 0;
	text-align: right;
}
.lishi-tab li.active{
	background: #199ed8;
	color: #fffffa;
}
.lishi-ele{
	font-size: 32px;
	padding:20px;
}
.clearfix:after {
		/*伪元素是行内元素 正常浏览器清除浮动方法*/
		content: "";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	
	.clearfix {
		*zoom: 1;
		/*ie6清除浮动的方式 *号只有IE6-IE7执行,其他浏览器不执行*/
	}